!!! 5
html
  head
    title ifit
    link(type='text/css',rel='stylesheet',href='/css/style.css')
  body
    script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script
      window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\\/script>')
    script(defer, src='/socket.io/socket.io.js')
    if (env == "development")
      each type in jsConfig
        each file in type
          script(src='/js/' + file)
    else
      - src = '/js/.build/' + version + '/main.js'
      script(src=src)
      script
        (function() {
          var onload = function() {
            var s = document.createElement('script');
            s.src = '/js/.build/#{version}/onload.js';
            head = document.getElementsByTagName('head')[0];
            head.appendChild(s);
          };
          if (window.attachEvent) {
            window.attachEvent('onload', onload);
          } else if (window.addEventListener) {
            window.addEventListener('load', onload, false);
          } else {
            document.addEventListener('load', onload, false);
          }
        })();
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') YOUR-REPO-NAME
          .nav-collapse
            ul.nav
              each name,path in menu
                if url == path
                  li.active
                    a(href=path)!=name
                else
                  li
                    a(href=path)!=name
              
    #main.container-fluid
      .row-fluid
        if (typeof(subnav) != 'undefined')
          .span2.fixed
            .well.sidebar-nav
              ul.nav.nav-list
                each name,path in subnav
                  if url == path
                    li.active
                      a(href=path)!=name
                  else
                    li
                      a(href=path)!=name
          .span10
            !=body
        else
          .span12
            !=body
